__pycache__/
*.py[cod]
.venv/
/data/
/dumps/
/pgdata/
*.dump
*.sql
.env

# do not push /retromol_cache wherever it is
# this is the default cache directory for retromol results if no directory is specified
**/retromol_cache/